<% if @course.errors.empty? %>
  $("#courses").prepend("<%= j render @course %>")
  $('.alert-success').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Curso creado con exito").show();
  $('#course-modal').modal('hide');
<% else %>
  alert('<%= @course.errors.full_messages[0] %>');
<% end %>