$("#del_course_<%= @course.id %>").remove()
$('.alert-danger').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Success</strong> Curso eliminado correctamente").show();
