<div class="container">
  <div class="row">
    <div class="media">
    <% @posts.each do |post| %>
      <div class="col">
        <div class="media-left">
        <!-- Renders image -->
        <%= link_to image_tag(post.image.url, class: 'media-object'), post.image.url, target: '_blank' %>
        </div>  
      </div>
    </div>  
    <div class="media-body">
      <h4 class="media-heading"><%= post.titulo %></h4>
    </div>
    <%= link_to "Descargar" , post.image.url, download: post.image.original_filename %>
  <% end %>
</div>    
  </div>
</div>
