<div class="form-group nested-fields">
  <%= f.label :nombre %>
  <%= f.text_field :nombre, class: 'form-control', required: true %>
  <%= link_to_remove_association 'Remove Carrera', f ,:class => 'btn btn-sm btn-primary mt-2'%>
</div>