<div class="center">
  <br>
  <h2>Universidades</h2>
  <%= create_university %>
</div>
<br>
  <div class="alert alert-success" role="alert" style="display: none;"></div>
  <div class="alert alert-danger" role="alert" style="display: none;"></div>
<div class="row center" id="universities">
  <%= render @universities %>
</div>
